@model EPONS.Teddy.Application.Entities.Visit
@{ 
    var parentModel = (EPONS.Teddy.Presentation.ViewObjects.Visit.Create)ViewData["Model"];
}

<div class="row">
    <div class="col-md-3">
        @Html.DisplayNameFor(x => x.ImpairmentGroupId)
    </div>
    <div class="col-md-9">
@Html.DropDownListFor(x => x.ImpairmentGroupId, new SelectList(Model.ImpairmentGroups, "Id", "Name"), "", new
{
    @class = "form-control",
    disabled = "disabled",
    value = Model.ImpairmentGroupId == null ? null : Model.ImpairmentGroupId,

})
@Html.ValidationMessageFor(x => x.ImpairmentGroupId, null, new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        Primary Diagnosis
    </div>
    <div class="col-md-9">
       <select disabled class="form-control">
           <option selected>@parentModel.EpisodeOfCare.ReasonForAdmissionName</option>
       </select>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.DisplayNameFor(x => x.Timestamp)
    </div>
    <div class="col-md-9">
        @Html.TextBoxFor(x => x.Timestamp, "{0:yyyy-MM-dd HH:mm}", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Timestamp, null, new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.DisplayNameFor(x => x.DurationOfVisit) (minutes)
    </div>
    <div class="col-md-9">
        <input name="DurationOfVisit" class="form-control" type="text" list="durations" onchange="EnableSubmit()" />
        <datalist id="durations">
            <option>5</option>
            <option>10</option>
            <option>15</option>
            <option>20</option>
            <option>25</option>
            <option>30</option>
            <option>35</option>
            <option>40</option>
            <option>45</option>
            <option>50</option>
            <option>55</option>
            <option>60</option>
        </datalist>
        <p class="text-danger small"></p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        Visit done by
    </div>
    <div class="col-md-9">
        @parentModel.User.Title @parentModel.User.Firstname @parentModel.User.Lastname
    </div>
</div>
@Html.HiddenFor(x => x.PatientId)


