@model EPONS.Teddy.Presentation.ViewObjects.Visit.Create
@{
    ViewBag.Title = "Edit";
    var baseModel = (EPONS.Teddy.Presentation.ViewObjects.Base)Model;
    ViewData["BaseModel"] = baseModel;
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-10">
        <h2>
            <form id="uploadAvatarForm" action="@Url.Action("UploadAvatar", "Patient")" method="post" enctype="multipart/form-data">
                <img src="@Url.Action("Avatar", "Patient", new { patientId = Model.Patient.Id})" onclick="selectAvatar()" class="img-responsive img-circle pull-left profile" alt="Profile Image" />
                <input type="file" name="avatar" onchange="uploadAvatar()" class="hidden" />
                <input type="hidden" name="patientId" id="patientId" value="@Model.Patient.Id" />
            </form>
            @Model.Patient.GetTitleLine()
            <small>@Model.Patient.GetSubTitleLine()</small>
        </h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("","")">Home</a>
            </li>
            <li>
                <a>Visit</a>
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-md-2">
        <br>

        <div class="row" style="text-align: center; margin-top:15px">
            <div class="col-xs-12">
                <a href="@Url.Action("Edit", "Patient", new { patientId = Model.Patient.Id})" class="btn btn-warning btn-sm btn-action" style="width: 90%;"><i class="fa fa-close"></i>&nbsp;Close</a>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <span>Visit Details</span>
                                </h5>
                                <button data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" class="btn btn-sm btn-success pull-right">
                                    <i class="fa fa-minus"></i>
                                    <i class="fa fa-plus"></i>
                                    View
                                </button>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true">
                                <div class='panel-body'>
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.DisplayNameFor(x => Model.Visit.ImpairmentGroup)
                                        </div>
                                        <div class="col-md-9">
                                            @Html.DisplayTextFor(x => Model.Visit.ImpairmentGroup)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.DisplayNameFor(x => x.Visit.DurationOfVisit)
                                        </div>
                                        <div class="col-md-9">
                                             @Model.Visit.DurationOfVisit.ToString() Minutes
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.DisplayNameFor(x => x.Visit.Timestamp)
                                        </div>
                                        <div class="col-md-9">
                                            @Model.Visit.Timestamp.ToString(EPONS.Teddy.Presentation.ConfigurationDefaults.DateTimeFormat)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <span>Visit Notes</span>
                                </h5>
                                <button data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" class="btn btn-success btn-sm pull-right collapsed">
                                    <i class="fa fa-minus"></i>
                                    <i class="fa fa-plus"></i>
                                    View
                                </button>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse" aria-expanded="true">
                                <div class='panel-body'>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h3>Daily Notes</h3>
                                            <span>(Notes you enter here will <b class="text-danger">not</b> be included in the Patient Progress Report for the Case Manager)</span>
                                        </div>
                                        <div class="col-md-10" id="extranotes">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-content no-padding">
                                                    @if (Model.Visit.IsPrivate && Model.Visit.UserId != Model.User.Id)
                                                    {
                                                        <p>This visit note is private.</p>
                                                    }
                                                    else
                                                    {
                                                        <div>
                                                            @Html.Raw(HttpUtility.HtmlDecode(Model.Visit.DailyNotes))
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="background-color: black; height: 2px; margin-bottom: 20px; margin-top: 20px">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h3>Patient Progress Notes</h3>
                                            <span>(Notes you enter here will be used to compile the formal Patient Progress Report for the Case Manager)</span>
                                        </div>
                                        <div class="col-md-10" id="notes">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-content no-padding">
                                                    @Html.Raw(HttpUtility.HtmlDecode(Model.Visit.ProgressNotes))
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <span>Measurement Tool - Vital Signs</span>
                                </h5>
                                <button data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" class="btn btn-success btn-sm pull-right collapsed">
                                    <i class="fa fa-minus"></i>
                                    <i class="fa fa-plus"></i>
                                    View
                                </button>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse" aria-expanded="true">
                                <div class='panel-body'>
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.DisplayNameFor(x => x.Visit.Temperature)
                                        </div>
                                        <div class="col-md-3">
                                            @if (Model.Visit.Temperature != 0)
                                            {
                                                @Html.DisplayTextFor(x => x.Visit.Temperature)
                                            }
                                        </div>
                                        <div class="col-md-3">
                                            @Html.DisplayNameFor(x => x.Visit.HeartRate)
                                        </div>
                                        <div class="col-md-3">
                                            @if (Model.Visit.HeartRate != 0)
                                            {
                                                @Html.DisplayTextFor(x => x.Visit.HeartRate)
                                            }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.DisplayNameFor(x => x.Visit.BloodPressureDiastolic)
                                        </div>
                                        <div class="col-md-3">
                                            @if (Model.Visit.BloodPressureDiastolic != 0)
                                            {
                                                @Html.DisplayTextFor(x => x.Visit.BloodPressureDiastolic)
                                            }
                                        </div>
                                        <div class="col-md-3">
                                            @Html.DisplayNameFor(x => x.Visit.BloodPressureSystolic)
                                        </div>
                                        <div class="col-md-3">
                                            @if (Model.Visit.BloodPressureSystolic != 0)
                                            {
                                                @Html.DisplayTextFor(x => x.Visit.BloodPressureSystolic)
                                            }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.DisplayNameFor(x => x.Visit.Glucose)

                                        </div>
                                        <div class="col-md-3">
                                            @if (Model.Visit.Glucose != 0)
                                            {
                                                @Html.DisplayTextFor(x => x.Visit.Glucose)
                                            }
                                        </div>
                                        <div class="col-md-3">
                                            @Html.DisplayNameFor(x => x.Visit.PulseOximetry)
                                        </div>
                                        <div class="col-md-3">
                                            @if (Model.Visit.PulseOximetry != 0)
                                            {
                                                @Html.DisplayTextFor(x => x.Visit.PulseOximetry)
                                            }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.DisplayNameFor(x => x.Visit.RespiratoryRate)
                                        </div>
                                        <div class="col-md-3">
                                            @if (Model.Visit.RespiratoryRate != 0)
                                            {
                                                @Html.DisplayTextFor(x => x.Visit.RespiratoryRate)
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        @foreach (var item in Model.MeasurementTools)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <span>Measurement Tool - @item.Name</span>
                                    </h5>
                                    <button data-toggle="collapse" data-parent="#accordion" href="#@item.Id" aria-expanded="true" class="btn btn-success btn-sm pull-right collapsed">
                                        <i class="fa fa-minus"></i>
                                        <i class="fa fa-plus"></i>
                                        View
                                    </button>
                                </div>
                                <div id="@item.Id" class="panel-collapse collapse" aria-expanded="true">
                                    <div class='panel-body'>
                                        @foreach (var scoreItem in item.ScoreItems)
                                        {
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label class="@(scoreItem.ScoreValues.Where((x) => Model.ScoreValues.Contains(x.Id)).Count() > 0 ? "" : "text-muted")"><abbr data-toggle="tooltip" title="@scoreItem.Description">@scoreItem.Name</abbr></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="radio-toolbar">
                                                        @foreach (var scoreValue in scoreItem.ScoreValues.OrderBy(x => x.Value))
                                                        {
                                                            if (Model.ScoreValues.Contains(scoreValue.Id))
                                                            {
                                                                <input title="" type="radio" id="ScoreValues_@scoreValue.Id.ToString("N")" name="ScoreValues_@scoreItem.Id.ToString("N")" value="@scoreValue.Id.ToString("N")" disabled @(Model.ScoreValues.Contains(scoreValue.Id) ? "checked" : null)>
                                                                <!--<label title="@scoreValue.Description" data-toggle="tooltip" for="ScoreValues_@scoreValue.Id.ToString("N")">@scoreValue.Value</label>-->
                                                                <label title="@scoreValue.Description" for="ScoreValues_@scoreValue.Id.ToString("N")" class="scoreItem_@scoreValue.Value" data-toggle="tooltip">@scoreValue.Value</label>
                                                                
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            foreach (var childScoreItem in scoreItem.SubScoreItems)
                                            {
                                                <div class="row">
                                                    <div class="col-md-4 col-md-offset-2">
                                                        <label class="@(childScoreItem.ScoreValues.Where((x) => Model.ScoreValues.Contains(x.Id)).Count() > 0 ? "" : "text-muted")"><abbr data-toggle="tooltip" title="@scoreItem.Description">@childScoreItem.Name</abbr></label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="radio-toolbar">
                                                            @foreach (var scoreValue in childScoreItem.ScoreValues.OrderBy(x => x.Value))
                                                            {
                                                                if (Model.ScoreValues.Contains(scoreValue.Id))
                                                                {
                                                                    <input type="radio" id="ScoreValues_@scoreValue.Id.ToString("N")" name="ScoreValues_@childScoreItem.Id.ToString("N")" value="@scoreValue.Id.ToString("N")" disabled @(Model.ScoreValues.Contains(scoreValue.Id) ? "checked" : null)>
                                                                    <!--<label for="ScoreValues_@scoreValue.Id.ToString("N")">@scoreValue.Value</label>-->
                                                                    <label title="@scoreValue.Description" for="ScoreValues_@scoreValue.Id.ToString("N")" class="scoreItem_@scoreValue.Value" data-toggle="tooltip">@scoreValue.Value</label>
                                                                    
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section styles {
    <link href="~/Content/css/plugins/chosen/chosen.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/summernote/summernote.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/summernote/summernote-bs3.css" rel="stylesheet" />
    <link href="~/Content/css/visit.css" rel="stylesheet" />
    <style>
        .radio-toolbar input[type="radio"] {
            display: none;
        }

        .radio-toolbar label {
            display: inline-block;
            background-color: gray;
            padding: 4px 11px;
            font-family: Arial;
            font-size: 16px;
            color: white;
        }

        .radio-toolbar input[type="radio"]:checked + label {
            background-color: #18A689;
        }
    </style>

}

@section scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
        })

        




        $(document).ready(function () {


        });




    </script>
    <style>
        .tooltips {
            display: inline-block;
            width: 5em;
        }
    </style>
}

