@{
    var baseModel = (EPONS.Teddy.Presentation.ViewObjects.Base)Model;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>EPONS | @ViewBag.Title</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/style.css?timestamp=@DateTime.UtcNow.Ticks" rel="stylesheet">
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/css/epons.css" rel="stylesheet" />

    @RenderSection("styles", false)

    <script src="~/Content/js/jquery-2.1.1.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script type='text/javascript'>
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
            var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;) r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: '2efbbb67-1938-4d70-9a22-5d3ca2cfead5'
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" width="45" src="@Url.Action("Avatar", "User" , new { userId=baseModel.User.Id})" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">@baseModel.DisplayName</strong>
                                    </span> <span class="text-muted text-xs block">@baseModel.GetCurrentFacilityName() <b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                @foreach (var facility in baseModel.User.Facilitites)
                                {
                                    <li><a href="@Url.Action("SetFacility","User", new { facilityId = facility.Id} )">@facility.Name</a></li>
                                }

                                <li class="divider"></li>
                                <li><a href="@Url.Action("Logout","User")">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            EPONS
                        </div>
                    </li>
                    <li>
                        <a href="@Url.Action("","")"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("","Messaging")"><i class="fa fa-comments"></i> <span class="nav-label">Messaging</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Edit","User", new { userId=baseModel.User.Id})"><i class="fa fa-user"></i> <span class="nav-label">My Profile</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wheelchair"></i> <span class="nav-label">Patients</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="@Url.Action("List","Patient")">Active Patients</a></li>
                            <li><a href="@Url.Action("List","Patient", new { type="discharged"})">Discharged Patients</a></li>
                            <li><a href="@Url.Action("List","Patient", new { type="deceased"})">Deceased Patients</a></li>
                        </ul>
                    </li>
                    @if (baseModel.IsSuperAdmin())
                    {
                        <li>
                            <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Administration</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="@Url.Action("List", "Administration")">Users</a></li>
                                <li><a href="@Url.Action("List", "Facility")">Facilities</a></li>
                                <li><a href="@Url.Action("", "Setting")">Settings</a></li>
                                @*<li><a href="@Url.Action("NoFunctionalityAvailable", "Error")">Billing Report</a></li>
                                    <li><a href="@Url.Action("NoFunctionalityAvailable", "Error")">Training Report</a></li>*@
                            </ul>
                        </li>
                    }
                    @if (baseModel.HasPermission("Case Manager") || baseModel.HasPermission("Administrator"))
                    {
                        <li>
                            <a href="#"><i class="fa fa-file-text-o"></i> <span class="nav-label">Reports </span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="@Url.Action("FacilityPerformanceReport", "Report")">Facility Performance Report</a></li>
                                @*<li><a href="@Url.Action("NoFunctionalityAvailable", "Error")">Facility Dashborad Report</a></li>*@
                            </ul>
                        </li>
                    }

                    <li>
                        <a href="#"><i class="fa fa-question"></i> <span class="nav-label">Help </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="#" data-toggle="modal" data-target="#downloadUserManualModal">User Manual</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#trainingVideosModal">Training Videos</a></li>
                            
                            @*<li><a href="@Url.Action("", "TrainingVideos")">Training Videos</a></li>*@
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" action="@Url.Action("List","Patient")" method="get">
                            <div class="form-group">
                                <input type="text" placeholder="Search for patient..." class="form-control" value="@Request["query"]" name="query">
                                <input type="hidden" value="@(Request["type"] == null? "active" : Request["type"])" name="type">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">@baseModel.DisplayName</span>
                        </li>
                        @*
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                                </a>
                                <ul class="dropdown-menu dropdown-messages">
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="@Url.Action(" NoFunctionalityAvailable","Error")l" class="pull-left">
                                                <img alt="image" class="img-circle" src="~/Content/img/a7.jpg">
                                            </a>
                                            <div>
                                                <small class="pull-right">46h ago</small>
                                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="@Url.Action(" NoFunctionalityAvailable","Error")" class="pull-left">
                                                <img alt="image" class="img-circle" src="~/Content/img/a4.jpg">
                                            </a>
                                            <div>
                                                <small class="pull-right text-navy">5h ago</small>
                                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="@Url.Action(" NoFunctionalityAvailable","Error")" class="pull-left">
                                                <img alt="image" class="img-circle" src="~/Content/img/profile.jpg">
                                            </a>
                                            <div>
                                                <small class="pull-right">23h ago</small>
                                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="@Url.Action(" NoFunctionalityAvailable","Error")">
                                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>
                                        <a href="@Url.Action(" NoFunctionalityAvailable","Error")">
                                            <div>
                                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action(" NoFunctionalityAvailable","Error")">
                                            <div>
                                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                                <span class="pull-right text-muted small">12 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action(" NoFunctionalityAvailable","Error")">
                                            <div>
                                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="@Url.Action(" NoFunctionalityAvailable","Error")">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        *@
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-envelope"></i>
                                @if (baseModel.GetNumberOfUnreadMessages() != 0)
                                {
                                    <span class="label label-primary">@baseModel.GetNumberOfUnreadMessages()</span>
                                }
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                @foreach (var message in baseModel.Messages)
                                {
                                    <li>
                                        <a href="@Url.Action("SendPatient", "Messaging", new { patientId = message.PatientId })">
                                            <div>
                                                <i class="fa fa-envelope fa-fw"></i>Message from @message.SenderDisplayName
                                                <span class="pull-right text-muted small">@message.Timestamp.ToString(EPONS.Teddy.Presentation.ConfigurationDefaults.DateTimeFormat)</span>
                                            </div>
                                        </a>
                                    </li>
                                }
                                @if (baseModel.GetNumberOfUnreadMessages() != 0)
                                {
                                    <li class="divider"></li>
                                }

                                <li>
                                    <div class="text-center link-block">
                                        <a href="@Url.Action("", "Messaging")">
                                            <strong>See All Messages</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout","User")">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>

                        <li>
                            <a class="right-sidebar-toggle">
                                <i class="fa fa-tasks"></i>
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
            <div class="wrapper wrapper-content">
                @if (!string.IsNullOrEmpty(baseModel.AdminMessageTitle))
                {
                    <div class="alert alert-warning">
                        <strong>Notification - @baseModel.AdminMessageTitle</strong>
                        <br />
                        @baseModel.AdminMessageBody
                    </div>
                }
                @if (!baseModel.HasAcceptedDisclaimer())
                {
                    <div class="alert alert-danger">
                        <a href="@Url.Action("AcceptDisclaimer", "User" )" class="btn btn-success pull-right">Accept</a>
                        <strong>Notification!</strong>
                        <br />
                        <p>
                            SADFM stores your personal details, including your name, ID number and email address for identification and communication purposes. In this application you are likely to have access to sensitive patient information.
                        </p>
                        <p>
                            By using this application you agree to respect patient privacy and not reproduce or share any information, personal or medical, to any unauthorised parties.
                        </p>
                    </div>
                }

                @foreach (var item in baseModel.User.MeasurementToolScores)
                {
                    if (DateTime.UtcNow.Subtract(item.Timestamp).TotalDays > (Convert.ToInt32(Model.Settings["UserAccreditationExpiry"]) - 10) && item.Name != "FAM" && item.Name != "APOM" && item.Name != "Eta" && item.Name != "Epsilon")
                    {
                        <div class="alert alert-warning">
                            <strong>Notification!</strong>
                            <br />
                            <p>
                                Your accreditation for the @item.Name measurement tool expires on @item.Timestamp.AddDays(Convert.ToInt32(Model.Settings["UserAccreditationExpiry"])).ToString("yyyy-MM-dd"). Please make sure that you repeat your @item.Name exam before @item.Timestamp.AddDays(Convert.ToInt32(Model.Settings["UserAccreditationExpiry"])).ToString("yyyy-MM-dd") to ensure you are able to score your patients after @item.Timestamp.AddDays(Convert.ToInt32(Model.Settings["UserAccreditationExpiry"])).ToString("yyyy-MM-dd").  To refresh your knowledge of the @item.Name you may watch these <a @*href="@Url.Action("", "TrainingVideos", new
                                                                                                                                                                                                                                                                                                                                                                                                                                                      {
                                                                                                                                                                                                                                                                                                                                                                                                                                                          name = item.Name
                                                                                                                                                                                                                                                                                                                                                                                                                                                      })"*@ href="#" data-toggle="modal" data-target="#trainingVideosModal">training videos</a>.
                            </p>
                        </div>
                    }
                }


                @RenderBody()
            </div>
            <div class="footer">
                <div class="pull-right">
                    VERSION 2
                </div>
                <div>
                    <strong>Copyright</strong> EPONS &copy; @DateTime.Now.Year <a href="http://www.sadfm.co.za">www.sadfm.co.za</a>
                </div>
            </div>
        </div>
        <div id="right-sidebar">
            <div class="sidebar-container">

                <ul class="nav nav-tabs navs-3">

                    <li class="active">
                        <a data-toggle="tab" href="#tab-1">
                            <i class="fa fa-bell-o"></i>
                        </a>
                    </li>
                    @*
                        <li>
                            <a data-toggle="tab" href="#tab-2">
                                Projects
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-3">
                                <i class="fa fa-gear"></i>
                            </a>
                        </li>
                    *@
                </ul>

                <div class="tab-content">

                    <div id="tab-1" class="tab-pane active">

                        <div class="sidebar-title">
                            <h3><i class="fa fa-bell-o"></i> Latest Notifications</h3>
                            <small>See whats happening</small>
                        </div>

                        <div>
                            @foreach (var notification in baseModel.Notifications)
                            {
                                <div class="sidebar-message">
                                    <div>
                                        <div class="pull-left text-center">

                                        </div>
                                        <div class="media-body">
                                            @Html.Raw(notification.Body)
                                            <br>
                                            <small class="text-muted">@notification.Timestamp.TimeAgo()</small>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>

    <div id="downloadUserManualModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please do NOT print this user manual</h4>
                </div>
                <div class="modal-body">
                    <p>Please do NOT print this user manual. Features of this program change without notice.  If you print this manual it will be out of date and be meaningless.  DO NOT WASTE PAPER!</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="onClick_DownloadUserManual()">Download</button>
                </div>
            </div>

        </div>
    </div>

    <div id="trainingVideosModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Coming Soon</h4>
                </div>
                <div class="modal-body">
                    <p>Not ready yet, but coming soon!</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/Content/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Content/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>



    <!-- Custom and plugin javascript -->
    <script src="~/Content/js/inspinia.js"></script>
    <script src="~/Content/js/plugins/pace/pace.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/Content/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <script src="~/Content/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Content/ts/epons.js?id=@DateTime.UtcNow.Ticks"></script>

    @RenderSection("scripts", false)

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-77072434-1', 'auto');
        ga('send', 'pageview');

        $(document).ready(function () {


            $('form:not(.no-loader)').on('submit', function () {
                var form = $(this);

                if (form.valid()) {

                    var submitButton = form.find('[type=submit]');

                    var text = submitButton.html();

                    var loadingText = submitButton.attr('data-loading-text');

                    if (loadingText == null || loadingText == '')
                        submitButton.html('Please wait..');
                    else
                        submitButton.html(loadingText);

                    submitButton.addClass('disabled');

                    setTimeout(function () {
                        submitButton.removeClass('disabled');
                        submitButton.html(text);
                    }, 8000);
                }

            });

            $('.btn-action').on('click', function () {
                var $this = $(this);
                var text = $this.html();

                var loadingText = $this.attr('data-loading-text');

                if (loadingText == null || loadingText == '')
                    $this.html('Please wait..');
                else
                    $this.html(loadingText);

                $this.addClass('disabled');

                setTimeout(function () {
                    $this.removeClass('disabled');
                    $this.html(text);
                }, 8000);
            });

        });

        function onClick_DownloadUserManual() {
            $('#downloadUserManualModal').modal('toggle');

            openInNewTab('@Url.Action("UserManual", "Help")');
        }

        function openInNewTab(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }

    </script>
</body>

</html>
