@using EPONS.Teddy.Application.Entities
@model IEnumerable<EPONS.Teddy.Application.EntityViews.EpisodeOfCare>
@{ 
    var baseModel = (EPONS.Teddy.Presentation.ViewObjects.Base)ViewData["BaseModel"];
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Facility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllocationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllocationTimestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReasonForAdmissionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImpairmentGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeallocationTimestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferringDoctorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendingDoctorName)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Facility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllocationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllocationTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonForAdmissionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImpairmentGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeallocationTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferringDoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendingDoctorName)
            </td>
            <td>
                @if (item.DeallocationTimestamp == null && baseModel.User.Permissions.Count(x => x.Name == "Case Manager") > 0)
                {
                    <button onclick="showEditEpisodeOfCareModal($(this))" class="btn btn-primary btn-sm edit" EpisodeOfCareId="@item.EpisodeOfCareId">Edit</button>
                }
            </td>
        </tr>
    }

</table>
