@model EPONS.Teddy.Presentation.ViewObjects.Patient.List
@{
    ViewBag.Title = "List";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-7">
        <h2>Patient List</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("","")">Home</a>
            </li>
            <li>
                <a>Patient</a>
            </li>
            <li class="active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
    <div class="col-md-3">
        <br />
        <epons-facility-time-spent-dashboard facilityId="@Model.GetCurrentFacilityId()"></epons-facility-time-spent-dashboard>
        <link href="http://ui-epons.sadfm.co.za/epons-facility-time-spent-dashboard/styles.d41d8cd98f00b204e980.bundle.css" rel="stylesheet">
        <script type="text/javascript" src="http://ui-epons.sadfm.co.za/epons-facility-time-spent-dashboard/inline.3081eb7fe5e03f01c1ef.bundle.js"></script>
        <script type="text/javascript" src="http://ui-epons.sadfm.co.za/epons-facility-time-spent-dashboard/vendor.6504b4d11af29dd2e250.bundle.js"></script>
        <script type="text/javascript" src="http://ui-epons.sadfm.co.za/epons-facility-time-spent-dashboard/main.3f9c9ab4fa4fa36c25b4.bundle.js"></script>
    </div>
    <div class="col-md-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of @Model.ListType Patients</h5>
                    <div class="ibox-tools">
                        @if (Model.CanCreatePatient())
                        {
                            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#createPatientModal">Register Patient</button>
                        }
                    </div>
                </div>
                <div class="ibox-content">

                    @if (Request["type"] == null || Request["type"] == "active")
                    {
                        <epons-patient-list userId="@Model.User.Id" facilityId="@Model.GetCurrentFacilityId()"></epons-patient-list>
                        <script type="text/javascript" src="http://ui-epons.sadfm.co.za/epons-patient-list/inline.7e8c8249c914c75b9218.bundle.js"></script>
                        <script type="text/javascript" src="http://ui-epons.sadfm.co.za/epons-patient-list/main.caa0c7e54311f7ef3737.bundle.js"></script>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <form role="search" action="@Url.Action("List","Patient")" method="get">
                                <div class="input-group">
                                    <input type="text" placeholder="Search for patient..." class="form-control" name="query" id="query" value="@Request["query"]">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="submit">Search</button>
                                    </span>
                                    <input type="hidden" value="@(Request["type"] == null? "active" : Request["type"])" name="type">
                                </div>
                            </form>
                            @Html.Partial("_ListPatients", Model.Patients)
                            @Html.Partial("_Pagination", Model.Pagination)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_CreatePatientModal", new EPONS.Teddy.Application.Entities.Patient())

