@using SADFM.Web.Shared
@{
    ViewBag.Title = "Support Services";
    ViewBag.Account = UserHelper.GetCurrentAccount();
}
<style>
    .chosen-container .chosen-drop .chosen-results {
        height: 90px;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Support Services maintenance</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>Administration</a>
            </li>
            <li class="active">
                <strong>Support Services</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Support Services</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-backdrop="static" data-keyboard="false" onclick="addSupportService()">
                            <i class="fa fa-plus"></i>&nbsp;Add
                        </button>
                    </div>

                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover" id="tblSupportServices">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Sort Order</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/dataTablesStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/plugins/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    <style>
        td.details-control {
            background: url('../Content/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('../Content/images/details_close.png') no-repeat center center;
        }

        td button {
            margin-left: 2px;
            margin-right: 2px;
        }

        .spinner {
            padding: 30px;
        }
    </style>
}

<div id="supportServiceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Support Service </h4>
            </div>
            <form action="@Url.Action("Edit","SupportService")" method="post">
                <div class="spinner hidden">
                    <img src='/Images/loading.gif' height='25' />
                </div>
                <div class="modal-body hidden">
                    <input type="text" placeholder="Name" class="form-control" name="Name" />
                    <br />
                    <input type="text" placeholder="Description" class="form-control" name="Description" />
                    <br />
                    <input type="text" placeholder="Sort Order" class="form-control" name="SortOrder" />
                    <input type="hidden" class="form-control" name="Id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <form action="@Url.Action("Delete","SupportService")" method="get">
                <div class="modal-body">
                    <p>Are you sure you want to delete this support service?</p>
                    <input type="hidden" class="form-control" name="Id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger">Yes</button>
                   
                </div>
            </form>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/switchery")
    <script type="text/javascript">
        $(document).ready(function () {

            $(".chosen-select").chosen({
                "width": "100%",
                disable_search_threshold: 5
            });

            $('#tblSupportServices').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Datatables/SupportServices",
                    "type": "POST"
                },
                "oLanguage": {
                    "sProcessing": "<img src='/Images/loading.gif' height='25'/>"
                },
                "columns": [

                { "data": "Name" },
                { "data": "Description" },
                { "data": "SortOrder" },
                {
                    "data": "Id",
                    "mRender": function (data, type, row) {
                        return "<button class='btn btn-danger pull-right' onclick=\"deleteSupportService('" + data + "')\">Delete</button>" + "<button class='btn btn-warning pull-right' onclick=\"editSupportService('" + data + "')\">Edit</button>";
                    }
                }]

            });

        });

        function deleteSupportService(id) {
            $('#deleteModal input[name=Id]').val(id);
            $('#deleteModal').modal('show');
        }

        function addSupportService() {
            clearSupportService();
            spinnerSupportService(false);
            $('#supportServiceModal').modal('show');
        }

        function editSupportService(id) {
            clearSupportService();
            spinnerSupportService(true);
            $('#supportServiceModal').modal('show');

            $.get("/SupportService/Get?id=" + id, function (data) {
                $('#supportServiceModal input[name=Name]').val(data.Name);
                $('#supportServiceModal input[name=Description]').val(data.Description);
                $('#supportServiceModal input[name=SortOrder]').val(data.SortOrder);
                $('#supportServiceModal input[name=Id]').val(data.Id);
                spinnerSupportService(false);
            });
        }

        function spinnerSupportService(show) {
            if (show) {
                $('#supportServiceModal .spinner').removeClass('hidden');
                $('#supportServiceModal .modal-body').addClass('hidden');
            } else {
                $('#supportServiceModal .spinner').addClass('hidden');
                $('#supportServiceModal .modal-body').removeClass('hidden');
            }
        }

        function clearSupportService() {
            $('#supportServiceModal input[name=Name]').val('');
            $('#supportServiceModal input[name=Description]').val('');
            $('#supportServiceModal input[name=SortOrder]').val('');
            $('#supportServiceModal input[name=Id]').val('');
        }
    </script>
}

