@model EPONS.Teddy.Application.Entities.Facility

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-3">
            @Html.DisplayNameFor(x => x.Name)
        </div>
        <div class="col-md-9">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.DisplayNameFor(x => x.MonthlyRate)
        </div>
        <div class="col-md-9">
            @Html.TextBoxFor(x => x.MonthlyRate, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.MonthlyRate, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.DisplayNameFor(x => x.IsFunder)
        </div>
        <div class="col-md-9">
            @Html.CheckBoxFor(x => x.IsFunder, new { disabled = "disabled" })
            @Html.ValidationMessageFor(x => x.IsFunder, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.DisplayNameFor(x => x.AdmissionTypeId)
        </div>
        <div class="col-md-9">
            @Html.DropDownListFor(x => x.AdmissionTypeId, new SelectList(Model.AdmissionTypes, "Id", "Name"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.AdmissionTypeId, null, new { @class = "text-danger" })
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_SubmitButton.cshtml")
    @Html.AntiForgeryToken();
    @Html.HiddenFor(x => x.Id)
}

