@using SADFM.Web.Shared;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@Library.GetText("ApplicationShortName") | @ViewBag.PageTitle</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/Content/plugins/toastr/toastr.min.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    @Styles.Render("~/plugins/chosenStyles")

    <script src="/Scripts/jquery-2.1.1.min.js"></script>
    <script src="/Scripts/crypto.js"></script>
    <script src="/Scripts/plugins/toastr/toastr.min.js"></script>
    @Scripts.Render("~/plugins/chosen")
    @RenderSection("scripts", false)
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <img src="~/Content/images/eponslogo.png" alt="@Library.GetText("ApplicationLongName")" title="@Library.GetText("ApplicationLongName")" width="250" /></div>
            <h3>@ViewBag.Title</h3>
            <p>@ViewBag.Message</p>
            @RenderBody()
            <p class="m-t"><small>@Library.GetText("ApplicationLongName") &copy; @DateTime.Today.Year (Version @Utilities.Version)</small> </p>
        </div>
    </div>

</body>

@if (ViewBag.LoginErrorMessage != null)
{ 
    <script type="text/javascript">
        toastr.error('@ViewBag.LoginErrorMessage', 'ERROR!');
    </script>
}

</html>


