@using SADFM.Web.Shared;
@model SADFM.Web.Models.ChangePasswordModel
<div class="modal inmodal" id="popupChangePassword" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Change password for @Model.Username</h4>
            </div>
            <div class="modal-body">
                @if (Model.RequestOldPassword)
                { 
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="password" id="popupChangePassword_txtOldPassword" class="form-control" placeholder="Old @Library.GetText("PasswordLabel")" />
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-lg-12">
                        <input type="password" id="popupChangePassword_txtPassword" class="form-control" placeholder="New @Library.GetText("PasswordLabel")" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="password" id="popupChangePassword_txtConfirmPassword" class="form-control" placeholder="Confirm @Library.GetText("PasswordLabel")" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary popupChangePassword_savenewpassword">Save</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function ShowChangePassword() {
        @if (Model.RequestOldPassword)
        { 
        <text>
        $("#popupChangePassword_txtOldPassword").val("");
        </text>
        }
        $("#popupChangePassword_txtPassword").val("");
        $("#popupChangePassword_txtConfirmPassword").val("");
        $(".popupChangePassword_savenewpassword").unbind("click");
        $(".popupChangePassword_savenewpassword").bind("click", function () {
            var new1 = $("#popupChangePassword_txtPassword").val();
            var new2 = $("#popupChangePassword_txtConfirmPassword").val();
            if (ConfirmChangePassword(new1, new2))
                AffectNewPassword(new1);
        });
        $("#popupChangePassword").modal("show");
    }

    function AffectNewPassword(newPwd) {
        Post("/Account/SaveNewPassword",
            {
                AccountID: "@Model.AccountID",
                @if (Model.RequestOldPassword)
                { 
                <text>
                OldPassword: hex_sha1($("#popupChangePassword_txtOldPassword").val()),
                </text>
                }
                NewPassword: hex_sha1(newPwd),
                Origin: window.location.pathname
            },
            function (result) {
                toastr.success("Password change was successful", "Success");
                $("#popupChangePassword").modal("hide");
            });
    }
</script>
