
@model EPONS.Teddy.Presentation.ViewObjects.Report.ProgressReport
@{
    ViewBag.Title = "Progress Report";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-10">
        <h2>Progress Report</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("","")">Report</a>
            </li>
            <li class="active">
                <strong>Progress Report</strong>
            </li>
        </ol>
    </div>
    <div class="col-md-2">
        <div class="row" style="text-align: center; margin-top:15px">
            <div class="col-xs-12">
                <a href="@Url.Action("Edit", "Patient", new { patientId = Model.PatientId})" class="btn btn-warning btn-sm" style="width: 90%;"><i class="fa fa-close"></i>&nbsp;Close</a>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Progress Report</h5>
                </div>
                <div class="ibox-content">
                    <epons-patient-report showRadarChart="@Model.IncludeRadarChart.ToString()" showLineChart="@Model.IncludeLineChart.ToString()" startDate="@Model.StartDate.ToString("yyyy-MM-dd")" endDate="@Model.EndDate.ToString("yyyy-MM-dd")" patientId="@Model.PatientId" facilityId="@Model.GetCurrentFacilityId()"></epons-patient-report>
                    <link href="http://ui-epons.sadfm.co.za/epons-patient-report/styles.d41d8cd98f00b204e980.bundle.css" rel="stylesheet">
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

                    <script type="text/javascript" src="http://ui-epons.sadfm.co.za/epons-patient-report/inline.d5b8fa7a293ba8f20d6c.bundle.js"></script>
                    <script type="text/javascript" src="http://ui-epons.sadfm.co.za/epons-patient-report/polyfills.23f92e0b79976f0b50d3.bundle.js"></script>
                    <script type="text/javascript" src="http://ui-epons.sadfm.co.za/epons-patient-report/vendor.d8f5110130eae850a057.bundle.js"></script>
                    <script type="text/javascript" src="http://ui-epons.sadfm.co.za/epons-patient-report/main.1a67954eb13bae987a2a.bundle.js"></script>
                </div>
            </div>
        </div>
    </div>
</div>
