
@model EPONS.Teddy.Presentation.ViewObjects.Report.ProgressReport
@{
    ViewBag.Title = "Patient Report";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-10">
        <h2>Patient Report</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("","")">Report</a>
            </li>
            <li class="active">
                <strong>Patient Report</strong>
            </li>
        </ol>
    </div>
    <div class="col-md-2">
        <div class="row" style="text-align: center; margin-top:15px">
            <div class="col-xs-12">
                <a href="@Url.Action("Edit", "Patient", new { patientId = Model.PatientId})" class="btn btn-warning btn-sm" style="width: 90%;"><i class="fa fa-close"></i>&nbsp;Close</a>
            </div>

        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Patient Report</h5>
                </div>
                <div class="ibox-content">
                    <epons-patient-report showRadarChart="@Model.IncludeRadarChart.ToString()" showLineChart="@Model.IncludeLineChart.ToString()" startDate="@Model.StartDate.ToString("yyyy-MM-dd")" endDate="@Model.EndDate.ToString("yyyy-MM-dd")" patientId="@Model.PatientId" facilityId="@Model.GetCurrentFacilityId()" showDailyClinicalNotes="@Model.ShowDailyClinicalNotes.ToString().ToLower()" showCaseManagerNotes="@Model.ShowCaseManagerNotes.ToString().ToLower()"></epons-patient-report>
                    <link href="http://ui-epons.sadfm.co.za/epons-patient-report/styles.d41d8cd98f00b204e980.bundle.css" rel="stylesheet">
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

                    <script type="text/javascript" src="http://ui-epons.sadfm.co.za/epons-patient-report/inline.14b459f1263a0b4d4b49.bundle.js"></script>
                    <script type="text/javascript" src="http://ui-epons.sadfm.co.za/epons-patient-report/polyfills.4dd5785f5269064f83fa.bundle.js"></script>
                    <script type="text/javascript" src="http://ui-epons.sadfm.co.za/epons-patient-report/vendor.c71a677b3772b170aeab.bundle.js"></script>
                    <script type="text/javascript" src="http://ui-epons.sadfm.co.za/epons-patient-report/main.e94c03c7bfe5121d01ca.bundle.js"></script>
                </div>
            </div>
        </div>
    </div>
</div>
