@model EPONS.Teddy.Presentation.ViewObjects.Base
@{
    ViewBag.Title = "Setting";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-10">
        <h2>Settings</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("","")">Home</a>
            </li>
            <li>
                <a>Setting</a>
            </li>
            <li class="active">
                <strong>Index</strong>
            </li>
        </ol>
    </div>
    <div class="col-md-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Settings</h5>
                </div>
                <div class="ibox-content">
                    @foreach(var setting in Model.Settings)
                    {
                        <form method="get" action="@Url.Action("Update", "Setting")">
                            <label>@setting.Key</label>
                            <input type="text" name="value" value="@setting.Value" class="form-control" />
                            <button type="submit" class="btn btn-primary" style="margin-top: 10px">Save</button>
                            <input type="hidden" name="name" value="@setting.Key" class="form-control" />
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

