
@{
    ViewBag.Title = "Patient Progress Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Patient Progress Report</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>Reports</a>
            </li>
            <li class="active">
                <strong>Patient Progress Report</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <br />
        <div class="row" style="text-align: center; margin-top:15px">
            <div class="col-xs-12">
                <a href="/Patient/Details?Patient=@Guid.Parse(Url.RequestContext.RouteData.Values["id"].ToString()).ToString("N")" class="btn btn-warning btn-sm" style="width: 90%;"><i class="fa fa-close"></i>&nbsp;Close</a>
            </div>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Report filters</h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-xs-4">
                            <div id="startDate">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control required" placeholder="Report start date">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div id="endDate">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control required" placeholder="Report end date">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <a href="#" id="btnDownload" class="btn btn-success btn-sm" style="width: 90%;">Download</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <div class="checkbox">
                                <label><input type="checkbox" name="GroupedNotes" value="">Order by Discipline</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">

        var id = '@Url.RequestContext.RouteData.Values["id"]';

        $(document).ready(function () {


            $('#endDate .input-group.date').datepicker({
                format: "dd MM yyyy",
                autoclose: true,
                endDate: "+0d"
            }).on("show", function (e) {
                $("div.datepicker").css("z-index", 1000000);
            });


            $('#startDate .input-group.date').datepicker({
                format: "dd MM yyyy",
                autoclose: true,
                endDate: "+0d"
            }).on("show", function (e) {
                $("div.datepicker").css("z-index", 1000000);
            });

           

            $('#btnDownload').click(function () {

                var startDate = new Date($('#startDate .input-group.date').datepicker('getDate'));
                var endDate = new Date($('#endDate .input-group.date').datepicker('getDate'));

                $('#btnDownload').attr('href', '/Report/DownloadPatientProgressReport?Id=' + id + "&StartDate=" + startDate.getFullYear() + "/" + (startDate.getMonth() + 1) + '/' + startDate.getDate() + '&EndDate=' + endDate.getFullYear() + "/" + (endDate.getMonth() + 1) + '/' + endDate.getDate() + '&GroupedNotes=' + $('input[name=GroupedNotes]').is(':checked'));

            });





        });




    </script>

    @Scripts.Render("~/plugins/select")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/dataPicker")
}

@section Styles {
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/dataTablesStyles")
    @Styles.Render("~/plugins/selectStyles")
    @Styles.Render("~/plugins/iCheckStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}






