@model EPONS.Teddy.Presentation.ViewObjects.User.ChangePassword


@using (Html.BeginForm("ChangePassword", "User"))
{
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    @Html.DisplayNameFor(x => x.NewPassword)
                </div>
                <div class="col-md-3">
                    @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.NewPassword, null, new { @class = "text-danger" })
                </div>
            </div>
           
            @Html.Partial("~/Views/Shared/_SubmitButton.cshtml")
        </div>
    </div>
    @Html.HiddenFor(x => x.UserId)
    @Html.AntiForgeryToken()
}



