@model EPONS.Teddy.Presentation.ViewModels.UserResetPassword
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Anonymous.cshtml";
}

<div class="row">

    <div class="col-md-12">
        <div class="ibox-content">

            <h2 class="font-bold">Reset password</h2>

            <div class="row">

                <div class="col-md-12">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            @Html.LabelFor(x => x.NewPassword)
                            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.NewPassword)
                        </div>
                        @Html.HiddenFor(x => x.Key)
                        @Html.HiddenFor(x => x.Checksum)
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-primary block full-width m-b">Reset Password</button>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

